/*网页全局样式开始*/
body
{
    /*body基本样式开始*/
    font-size: 10.5pt;
    color: #3D3D3D;
    font-family: "微软雅黑";
    margin: 0;
    padding: 0; /*body基本样式结束*/ /*body扩展样式开始*/
    background-repeat: repeat-y;
    background-position: center;
    scrollbar-face-color: #b9b9b9;
    scrollbar-highlight-color: #b9b9b9;
    scrollbar-shadow-color: #b9b9b9;
    scrollbar-3dlight-color: #b9b9b9;
    scrollbar-darkshadow-color: #b9b9b9;
    scrollbar-arrow-color: #F0F0F0;
    scrollbar-track-color: #F0F0F0;
    scrollbar-base-color: #F0F0F0; /*拖动条的表面颜色*/
    scrollbar-face-color: white;
    margin: 0; /*亮边*/
    scrollbar-highlight-color: white; /*暗边*/
    scrollbar-shadow-color: #aaaaaa;
    scrollbar-3dlight-color: #aaaaaa; /*箭头颜色*/
    scrollbar-arrow-color: #aaaaaa; /*拖动区域(TrackBar)颜色*/
    scrollbar-track-color: white;
    scrollbar-darkshadow-color: white /*body扩展样式结束*/;
}
.classDefaultHidden
{
    display: none;
}
ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul, ol, dl
{
    padding: 0;
    margin: 0;
}

a.bt_more
{
    text-decoration: none;
    color: #567fe6;
    font-family: "微软雅黑";
}
a.bt_more:hover
{
    text-decoration: none;
    color: #567fe6;
    font-family: "微软雅黑";
}



.title
{
    font-size: 16pt;
    color: #3D3D3D;
    font-weight: bold;
    line-height: 35px;
}

.bt_titile
{
    font-size: 12pt;
    font-weight: bold;
    color: #555555;
    font-family: "微软雅黑";
}

.bt_content
{
    font-size: 10.5pt;
    text-decoration: none;
    color: #3D3D3D;
    line-height: 26px;
}

.bt_time
{
    font-size: 7pt;
    color: #999999;
    font-family: Verdana;
}
.bt_date
{
    font-size: 7pt;
    color: #999999;
    font-family: Verdana;
}

.blue
{
    color: #406EC2;
    font-size: 9pt;
    text-decoration: none;
}
.white
{
    color: #ffffff;
    font-size: 9pt;
    text-decoration: none;
}
.red
{
    color: #C70506;
    font-size: 9pt;
    text-decoration: none;
}

.container
{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
#bottom a
{
    text-decoration: none;
    color: #3d3d3d;
    font-size: 14px;
    line-height: 24px;
    font-family: "微软雅黑";
}

/*通知公告 开始*/
#winpop
{
    z-index: 2000;
    width: 350px;
    height: 0;
    position: fixed;
    _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
    _position: absolute;
    right: 0;
    bottom: 0;
    _bottom: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    background: #FFFFFF;
}

.close
{
    position: absolute;
    right: 8px;
    top: 11px;
    color: #d90400;
    cursor: pointer;
}
/*通知公告 结束*/


table.tableClass
{
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    background-color: rgb(201, 222, 239); /*border: 0px;      border-spacing: 1px;*/
    border: 1px solid rgb(201, 222, 239); /*border-color: gray;;*/
    border-collapse: collapse;
    text-align: left;
}

table.tableClass tr td.td_topleft
{
    padding-left: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #3d3d3d;
    height: 33px;
    background-color: rgb(233, 242, 249);
    border: 1px solid rgb(201, 222, 239);
    border-collapse: collapse;
}
table.tableClass tr td.td_topright
{
    padding: 8px;
    text-align: -webkit-left;
    background-color: rgb(255, 255, 255);
    color: #3d3d3d;
    border: 1px solid rgb(201, 222, 239);
    border-collapse: collapse;
}

.base-list
{
    width: 100%;
    margin-top: 20px;
}

.base-list ul li
{
    padding-left: 14px;
    background: url(images/bq_scy_jyb_libjt_03.png) no-repeat 4px center;
    line-height: 31px;
    text-align: left;
}

.base-list ul li:hover
{
    background: url(images/bq_scy_jyb_hovrli_03.png) no-repeat 0 center;
}

.base-list ul li span
{
    font-size: 14px;
    color: #4b4b4b;
    font-family: "微软雅黑";
    float: right;
}

.base-list ul li:hover span
{
    color: #567fe6;
}
.Radiation_NoBorder td
{
    width: 100%;
    border: 0px;
}
table.Radiation
{
    width: 100%;
    border-collapse: collapse;
}

.Radiation_td
{
    background-color: White;
    text-align: left;
    vertical-align: middle; 
    height: 33px;
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding-right: 5px;
    padding-left: 5px;
}
table.Radiation tr th
{
    height: 33px;
    background-color: #ddd;
}

table.tableEnt
{
    width: 100%; /*background-color: #ddd;*/
    border: 1px solid #ddd;
    border-collapse: collapse;
}
table.tableEnt th
{
    background-color: #ddd;
    height: 33px;
}


table.tableEnt tr td.tdCenter
{
    background-color: White;
    text-align: center;
    vertical-align: middle; /*background-color: #e9f2f9;*/
    height: 33px;
    border: 1px solid #ddd;
    border-collapse: collapse;
}
table.tableEnt tr td.tdleft
{
    background-color: White;
    width: 20%;
    text-align: right;
    padding-right: 1%;
    vertical-align: middle; /* background-color: #e9f2f9;*/ /*background-color: #ffffff;*/
    height: 33px;
    border: 1px solid #ddd;
    border-collapse: collapse;
}
table.tableEnt tr td.tdRight
{
    background-color: White;
    width: 30%;
    text-align: left;
    vertical-align: middle; /*background-color: #ffffff;*/
    height: 33px;
    padding-left: 1%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}
table.tableEnt tr td.tdRight a
{
    color: #659cca;
    cursor: pointer;
}


.subTittle
{
    clear: both;
    font-family: '微软雅黑';
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin: 0 0 18px 0;
    position: relative;
    text-align: left;
    top: 0px;
    left: 0px;
}




table a
{
    text-decoration: none;
    color: #659cca;
    font-size: 10.5pt;
    line-height: 24px;
    font-family: '微软雅黑';
    cursor: pointer;
}
table a:hover
{
    color: #ff0000;
}
table a:active
{
    color: #EE2C2C;
}
.table01
{
    border-collapse: collapse;
    border: 1px solid #e6e6e6;
    text-align: left;
    background-color: #FFF;
}
.table01 input
{
    width: 95%;
}
.table01 th
{
    border: 1px solid #e6e6e6;
    text-align: right;
    height: 32px;
    background-color: #f7f7f7;
    width: 22%;
    font-weight: normal;
}
.table01 td
{
    border: 1px solid #e6e6e6;
    height: 32px;
    text-align: left;
    padding-left: 5px;
    width: 30%;
}
textarea
{
    overflow: visible;
}
.table01 textarea
{
    border: #e8e8e8 1px solid;
}
.redFont
{
    color: #f00;
}
.btn
{
    background-color: #356F9F;
    border: 1px solid #356F9F;
    width: auto;
    height: 30px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-family: '微软雅黑';
}

.table02
{
    border-collapse: collapse;
    border: 1px solid #e6e6e6;
    border-top: 0px;
    text-align: left;
    background-color: #FFF;
}

.table02 th
{
    border: 1px solid #e6e6e6;
    text-align: right;
    height: 32px;
    background-color: white;
    width: 5%;
    font-weight: normal;
}
.table02 td
{
    border: 1px solid #e6e6e6;
    height: 32px;
    text-align: left;
    padding-left: 5px;
    width: 30%;
}

.requiredStar
{
    color: red;
    line-height: 17px;
    vertical-align: middle;
    padding-left: 3px;
}


.slide
{
    width: 170px;
    float: right;
}

.titleFlow
{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #666;
    display: block;
    cursor: pointer;
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
}
.titleFlow i
{
    line-height: 40px;
    height: 40px;
}
.titleFlow:hover
{
    color: #FF5F3E;
}
.titleFlowHover
{
    color: #FF5F3E;
}
.partbottom
{
    padding: 0px 20px 20px 20px;
}
.partbottom .partbottom_line
{
    height: 1px;
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
}

.partbottom .partbottom_input ul li
{
    list-style: none;
    float: left;
    margin: 10px 5px;
    height: 30px;
    line-height: 30px;
}
.partbottom .srinput
{
    width: 211px;
    height: 30px;
    border: 1px solid #dedede;
    line-height: 30px; /*padding: 4px;*/
}



.MustFilled
{
    color: Red;
}