body div.divArcGISDrawControl
{
    position:absolute;
	left: 100px;
    top: 260px;
	width:240px;
	height:240px;
	z-index:2;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	display: none;
}

body div.divArcGISDrawControl div.jQE_Container_Absolute
{
    width: 100%;
    height: 100%;
}

body div.divArcGISDrawControl div.jQE_Container_Absolute .title 
{
   
    z-index: 1;
	height: 30px;
	background:url(images/divModuleNameBackground.png) repeat scroll center center transparent;
}
body div.divArcGISDrawControl div.jQE_Container_Absolute .title_tit {
	float: left;
	height: 30px;
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 30px;
	color: #FFFFFF;
	padding-left: 12px;
}
body div.divArcGISDrawControl div.jQE_Container_Absolute .title_close {
	background-image: url(images/close.png);
	height: 30px;
	width: 30px;
	background-repeat: no-repeat;
	background-position: center center;
	float: right;
	margin-right: 4px;
	cursor:pointer;
}

body div.divArcGISDrawControl div.jQE_Container_Absolute .serbtn {
	background-color: #e6effa;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b1d4f6;
	padding: 8px;
	height: 32px;
}
body div.divArcGISDrawControl div.jQE_Container_Absolute .serbtn1 {
	background-color: #e6effa;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b1d4f6;
	padding: 8px;
	height: 80px;
}
body div.divArcGISDrawControl div.jQE_Container_Absolute .serbtn ul {
	margin: 0px;
	padding: 0px;
}
body div.divArcGISDrawControl div.jQE_Container_Absolute .serbtn li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	float: left;
}
body div.divArcGISDrawControl div.jQE_Container_Absolute .serbtn li a {
	height: 30px;
	width: 30px;
	border: 1px solid #b1d4f6;
	display: block;
	background-image: url(images/serbtnbg.png);
	background-repeat: repeat-x;
	margin-right: 4px;
}
body div.divArcGISDrawControl div.jQE_Container_Absolute .serbtn li a:hover {
	height: 30px;
	width: 30px;
	border: 1px solid #b1d4f6;
	display: block;
	background-image: url(images/serbtnbg_h.png);
	background-repeat: repeat-x;
	margin-right: 4px;
}
body div.divArcGISDrawControl div.jQE_Container_Absolute .jieguo 
{
  
	padding: 8px;
	line-height: 15px;
	
}


	