<?xml version="1.0" encoding="utf-8"?>
<!--系统框架监控不允许修改-->
<appSettings>
  <!-- RuralSewageMonitoringSystem   RSMS 农村污水监控系统 -->
  <add key="thirdServiceUrl" value="http://101.201.82.103:8180/prcs-1.0.0/" />
  <!--数据库链接字符串-->
  <add key="SqlConnectionString" value="Data Source=.;Database=wushuijj;User ID=sa;Password=1qaz2wsx"/>
  <!--<add key="SqlConnectionString" value="Data Source=192.168.252.63;Database=DB_RSMS_0929;User ID=sa;Password=sckj"/>-->
  <!--<add key="SqlConnectionString" value="Data Source=rm-2ze37yfzq03000zob.sqlserver.rds.aliyuncs.com,3433;Database=wushuijj;User ID=wushui;Password=Root1234"/>-->
  <!--<add key="SqlConnectionString" value="Data Source=192.168.252.63;Database=DB_RSMS;User ID=sa;Password=sckj"/>-->

  <!--系统默认入口-->
  <add key="defaultEntry" value="" />
  <!--服务动态化Key dynamicDirectory-->
  <add key="dynamicDirectory" value="" />
  <!--数据加密Key dataPublicKey-->
  <add key="dataPublicKey" value="" />
  <!--上传文件的文件夹路径(虚拟目录加“/” files/)-->
  <add key="uploadFolderPath" value="upload/" />
  <!--Upload/web/uploadFolder/-->
  <!--上传文件的分块大小1024*256-->
  <add key="uploadFileParagraphLength" value="262144" />
  <!--  .csv,.xls,xlsx -->
  <add key="fileFormatType" value="xls" />
  <add key="ftpUserName" value="Wangph" />
  <add key="ftpPassword" value="qazwsX123" />
  <add key="overDateDay" value="30" />
  <!--新增用户默认设置角色的编码-->
  <add key="insertUserDefaultRoleCode" value="userRole" />
  <!--组织机构编码-->
  <add key="organizationCode" value="FWOrganization"/>
  <!--系统日志写入数据库等待集合数-->
  <add key="systemLogEveryMaxInsertCount" value="50" />
  <!--是否写日志-->
  <add key="isWriteLog" value="1" />
  <!--是否验证权限-->
  <add key="isVerifyRight" value="0" />
  <!--是否拦截SQL语句，拦截则在浏览器控制台打印执行的SQL语句(注：部署时请将value改为0,此配置项只在解决方案配置为Debug模式时有效有效)-->
  <add key="isSqlFiddler" value="0"/>
  <!--是否开启功能号拦截-->
  <add key="isFunctionCodeFiddler" value="0"/>
  <!--用户初始密码,加密方式md5(unicode) aYcgWXlmOUt7SjBi -->
  <add key="defaultPassword" value="bb67f3d770ddac946b82504e641932a4" />
  <!--单用户允许登录的次数-->
  <add key="accountLoginCount" value="2" />
  <!--单点登录免登录密码-->
  <add key="ssoLoginPassword" value="1" />
  <!--单点登录失败n次出现验证码-->
  <add key="loginFailureValidateCount" value="3" />
  <!--cookie有效期（天）-->
  <add key="cookieTimeout" value="3" />
  <!--是否开启分布式缓存-->
  <add key="isDistributedCache" value="0" />
  <!--分布式缓存数据库集合-->
  <add key="distributedServers" value="192.168.253.145:11211"/>
  <!--session过期时间（分钟）-->
  <add key="sessionTimeout" value="30" />
  <!--站点相对根目录的目录-->
  <add key="webSiteRelativePath" value=""/>
  <!--域服务中域路径-->
  <add key="activeDirectoryPath" value="LDAP://mlsctec"/>
  <!--apk版本号-->
  <add key="apk_version" value="106"/>
  
  
  
  
  
  
  
  <!--**********************业务配置***开始***************************************-->

  <!--第三方登录编码集合例 例如omUnit,运维企业;omPerson,运维人员-->
  <add key="thirdLogins" value="omUnit,运维企业;omPerson,运维人员" />
  <!--运维企业默认用户角色-->
  <add key="defaultOMUnitUserRoleCode" value="omUnitRole" />
  <!--运维人员默认用户角色-->
  <add key="defaultOMUnitPersonRoleCode" value="omPersonRole" />
  <!--监测设施默认报警配置 1风机故障  2 通讯故障 3 污泥存量超量-->
  <add key="defaultMonitorSiteAlarmItem" value="1,2,3" />
  <!--运维人员默认报警接收方式配置 1系统消息  2 短信 3 邮件-->
  <add key="defaultOMPersonAlarmReceiveItem" value="1,2,3" />
  <!--故障类型默认配置 1风机故障  2 通讯故障 3 污泥存量超量 -->
  <add key="defaultFaultItem" value="1,2,3" />

  <!--*********************************结束***************************************-->

  
  
  
  
  
  <!--**********************推送配置***开始***************************************-->
  
  <!--jpush 配置 -->
  <add key="thirdPush" value="jpush,极光推送" />
  <!--AppKey -->
  <add key="thirdPush_jpush_appKey" value="0f4ed60dd6b70e34e4e1d8b2" />
  <!--用于服务器端 API 调用与 appkey 配合使用达到鉴权的目的，请保管好 Master Secret 防止外泄。 -->
  <add key="thirdPush_jpush_masterSecret" value="7e45fe490ac279026023dfb1" />
  
  <!--*********************************结束***************************************-->

  
  
  
  
  
  
  <!--**********************天地图服务***开始**************************************-->

  <!--天气预报接口靖江编码-->
  <add key="weather_url" value="https://www.tianqiapi.com/api/?version=v6&amp;cityid=101191205&amp;appid=75648113&amp;appsecret=Hknxxs4w"/>
  <!--天地图秘钥-->
  <add key="tianditu_key" value="764e721b7c44f4245df12a251fd33410"/>
  <!--天地图接口：根据经纬度获取省市信息-->
  <add key="tianditu_point_url" value="http://api.tianditu.gov.cn/geocoder?postStr={0}&amp;type=geocode&amp;tk={1}"/>
  <add key="tainditu_login_value" value="靖江市"/>
  <!--时间：分钟-->
  <add key="tainditu_login_time" value="1"/>
  <!--时间：公里-->
  <add key="tainditu_login_distance" value="1"/>
  
  <!--*********************************结束***************************************-->
  
  
  
  
  
  
  <!--**********************数据上行***开始***************************************-->
  
  <!--推送数据队列-->
  <add key="hlwx_msmqPath" value=".\private$\hlwxDataQueue"/>
  <add key="mqtt_msmqPath" value=".\private$\mqttDataQueue"/>
  <!--慧联http服务-->
  <add key="url" value="http://service.easylinkin.com/api/down"/>
  <!--<add key="key" value="66f899263f4e4f5293889ba6d65559a6"/>
  <add key="secret" value="4566e2592f064505b5a8281077f4b41a"/>-->
  <add key="key" value="5b36ff51885b45abbffe7864913f6911"/>
  <add key="secret" value="591021e84b8b479d8905d331c1584f40"/>
  <!--弗瑞雷mqtt服务-->
  <add key="IP" value="49.235.112.217"/>
  <add key="Port" value="1883"/>
  <add key="UserName" value=""/>
  <add key="Password" value=""/>
  <!--日志-->
  <add key="HLWX_LogPath" value="D:\\Log\\JJ\\HLWX\\"/>
  <add key="Fail_LogPath" value="D:\\Log\\JJ\\Fail\\"/>
  <add key="Queue_LogPath" value="D:\\Log\\JJ\\Queue\\"/>
  
  <!--*********************************结束***************************************-->

</appSettings>