<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--是否有权限-->
    <add key="isHasFunction" value="1" />

    <!--新增用户默认管理员设置角色的编码-->
    <add key="insertUserDefaultRoleCode" value="entAdminRole" />

    <!--新增用户默认普通用户设置角色的编码-->
    <add key="insertUserDefaultRoleCode2" value="entRole" />
    <!--自测项目 自动监测延迟查询-->
    <add key="AutoMonitorHours" value="0" />
    <!--自动监测审核时间-->
    <add key="AutoMonitorEditHours" value="-72" />
    <add key="isTwoHour" value="0" />

    <!--动态口令Start-->
    <add key="ip" value="42.159.152.43" />
    <add key="port" value="8010" />
    <add key="deviceId" value="1004" />
    <add key="timeout" value="3000" />
    <!--动态口令End-->
    <!--美圣短信发送服务Start-->
    <!--服务地址-->
    <add key="smsAddress" value="http://mssms.cn:8000/msm/sdk/http/sendsms.jsp"/>
    <!--用户名-->
    <add key="smsUsername" value="JSMB2602761"/>
    <!--密码-->
    <add key="smsPassword" value="mlsc"/>

    <!--注册短信模板编号-->
    <add key="registerTempid" value="MB-2015062513"/>
    <!--注册短信发送模板-->
    <add key="registerTemp" value="您好{0}，验证码：{1}，用于绑定绿色发布平台账户。请勿向任何人提供您收到的验证码！"/>

    <!--禁用口令模板编号-->
    <add key="disableTempid" value="MB-2015062502"/>
    <!--禁用口令短信发送模板-->
    <add key="disableTemp" value="您好{0}，您的动态口令（序列号：{1}）已冻结，不能继续使用动态口令登录系统，如需帮助请联系客服4008000109！"/>
    <!--启用口令模板编号-->
    <add key="enableTempid" value="MB-2015062543"/>
    <!--启用口令短信发送模板-->
    <add key="enableTemp" value="您好{0}，您的动态口令（序列号：{1}）已激活！"/>

    <!--审核通过模板编号-->
    <add key="verifyUserPassTempid" value="MB-2015062637"/>
    <!--审核通过短信发送模板-->
    <add key="verifyUserPassTemp" value="您好{0}，您的绿色发布平台账号（{1}）已经审核通过！"/>
    <!--审核失败模板编号-->
    <add key="verifyUserFailureTempid" value="MB-2015062624"/>
    <!--审核失败短信发送模板-->
    <add key="verifyUserFailureTemp" value="您好{0}，您的绿色发布平台账号（{1}）未通过审核！如需帮助请联系客服4008000109！"/>

    <!--找回密码模板编号-->
    <add key="backPasswordTempid" value="MB-2015062626"/>
    <!--找回密码短信发送模板-->
    <add key="backPasswordTemp" value="您好{0}，验证码：{1}，用于绿色发布平台找回账户密码。请勿向任何人提供您收到的验证码！"/>

    <!--注册企业审核失败模板编号-->
    <add key="verifyEntPassTempid" value="MB-2015062738"/>
    <!--找回密码短信发送模板-->
    <add key="verifyEntPassTemp" value="您好{0}，您注册的绿色发布平台企业（{1}）已经审核通过！"/>
    <!--找回密码模板编号-->
    <add key="verifyEntFailureTempid" value="MB-2015062713"/>
    <!--找回密码短信发送模板-->
    <add key="verifyEntFailureTemp" value="您好{0}，您注册的绿色发布平台企业（{1}）未通过审核！如需帮助请联系客服4008000109！"/>

    <!--美圣短信发送服务End-->
  </appSettings>
</configuration>