<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<connectionStrings>
    
    <!-- mysql -->
		<add name="database" connectionString="server=localhost; user id=root; password=123456; database=plusoft_test;" providerName="MySql.Data.MySqlClient"/>
    
    <!-- sqlserver -->
    <!--<add name="database" connectionString="server=localhost; database=plusoft_test; Integrated Security=True;" providerName="System.Data.SqlClient"/>-->

    <!-- localdb -->
    <!--<add name="database" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Movies.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    
	</connectionStrings>
</configuration>
