#login h4, dl
{
    margin: 0;
    padding: 0;
}
#login ol, ul
{
    list-style: none;
}
#login .fl
{
    float: left;
}
#login a
{
    color: #666;
    text-decoration: none;
}
#login a:hover
{
    color: #E4393C;
    text-decoration: underline;
}
#login .ld s, .ld b, .ld .block
{
    position: absolute;
    overflow: hidden;
}
#login dt, #login dl.hover dt
{
    background-image: url(http://misc.360buyimg.com/lib/skin/2013/i/20130330A_2.png);
    background-repeat: no-repeat;
}
#login
{
    float: left;
    position: absolute;
    z-index: 11;
    right: 100px;
    top: 60px;
    width: 106px;
    height: 30px;
    margin-top: -42px;
    margin-left: 10px;
    margin-right: 8px;
}
#login dt
{
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 30px;
    padding: 0 24px 0 30px;
    border: 1px solid #EFEFEF;
    background-position: -116px -24px;
    background-color: #F7F7F7;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
    line-height: 30px;
}
#login dt span
{
    font-family: "\5b8b\4f53";
    color: #005EA7;
}
#login dt b
{
    top: 12px;
    right: 8px;
    width: 0;
    height: 0;
    border-style: solid dashed dashed;
    border-width: 5px;
    border-color: #CCC transparent transparent;
    overflow: hidden;
}
#login dd
{
    display: none;
    position: absolute;
    top: 32px;
    right: 0;
    width: 310px;
    border: 1px solid #E3E3E3;
    background: #fff;
}
#login dl.hover dt
{
    height: 32px;
    border: 1px solid #E3E3E3;
    border-bottom: 0;
    -moz-box-shadow: 0 0 10px #E1E1E1;
    -webkit-box-shadow: 0 0 10px #E1E1E1;
    box-shadow: 0 0 10px #E1E1E1;
    background-position: -115px -53px;
    background-color: #fff;
}
#login dl.hover dd
{
    display: block;
    -moz-box-shadow: 0 0 10px #E1E1E1;
    -webkit-box-shadow: 0 0 10px #E1E1E1;
    box-shadow: 0 0 10px #E1E1E1;
}
#login dl.hover s
{
    position: absolute;
    bottom: -10px;
    left: -10px;
    width: 114px;
    height: 10px;
    background: #fff;
}
#login dl.hover dt b
{
    top: 7px;
    border-style: dashed dashed solid;
    border-color: transparent transparent #CCC;
}
#login .prompt a, #login .orderlist a
{
    color: #005EA7;
}
#login .prompt
{
    padding: 6px 6px 6px 9px;
    border-bottom: 1px solid #EEE;
    line-height: 25px;
    overflow: hidden;
    zoom: 1;
}
#login .prompt .btn-login
{
    display: block;
    width: 73px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background: #E4393C;
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#login .smt h4
{
    float: left;
    padding-left: 4px;
    font-weight: 400;
}
#login .smt .extra
{
    float: left;
}
#login .orderlist
{
    width: 300px;
    padding: 8px 5px;
    border-bottom: 1px solid #E6E6E6;
}
#login .orderlist li
{
    overflow: hidden;
    border-top: 1px dotted #ccc;
    zoom: 1;
}
#login .uclist
{
    width: 410px;
    margin: 5px 0;
    overflow: hidden;
}
#login .uclist ul
{
    width: 154px;
    padding: 0 10px;
}
#login .uclist .fore1
{
    border-right: 1px solid #F1F1F1;
}
#login .uclist a:link, #login .uclist a:visited
{
    display: block;
    height: 18px;
    overflow: hidden;
    padding: 5px;
    text-decoration: none;
    color: #005EA7;
}
#login .uclist a:hover, #login .uclist a:active
{
    
    color: #E4393C;
}
#login .viewlist
{
    width: 305px;
    padding: 8px 0 8px 5px;
    background: #F3F3F3;
}
#login .viewlist span
{
    padding-left: 4px;
}
