li
{
    list-style-type: none;
}
.MenuLeft
{
    background: url(images/rightMenuImages/right_left.png);
    width: 27px;
    height: 57px;
    z-index: 1000;
}
.Menu
{
    width: 200px;
    float: right;
    // border-left: 1px solid #6c6c6c;
    // border-right: 1px solid #6c6c6c;
    // border-bottom: 1px solid #6c6c6c;
}
.TitleMenu
{
    background: url(images/rightMenuImages/right_1_top.png) repeat-x 0px 0px transparent;
    height: 58px;
    width: 100%;
}
.TitleMenu_1
{
    background: url(images/rightMenuImages/right_2_top.png) repeat-x 0px 0px transparent;
    height: 58px;
    width: 100%;
}
.TitleMenu_1Content
{
    background-image: url(images/rightMenuImages/right_2_top_btn1.png);
    margin: 15px 0 0 6px;
    position: absolute;
    height: 30px;
    line-height: 30px;
    width: 90px;
    color: White;
    font-size: 12px;
    text-indent: 22px;
    cursor: pointer;
}
.TitleMenuContent
{
    margin-left: 18px;
    vertical-align: middle;
    height: 58px;
    line-height: 58px;
    font-size: 22px;
    font-family: 微软雅黑;
    color: White;
    font-weight1: 300;
}
.classDefaultHidden1
{
    position: absolute;
    top: 0; 
    left: 580px;
    width: 900px;
    height: 70px;
   
}

.BodyMenu
{
    height: 70px;
    background2: url(images/rightMenuImages/right_1_main.png) repeat;
    // background-color:#ffffff;
    // opacity:0.9;

}
.BodyMenuTitle
{
    background: url(images/rightMenuImages/right_2_tit.png) repeat-x;
    height: 49px;
    line-height: 49px;
    font-weight: 700;
    color: #505050;
    text-indent: 3px;
}
.BodyMenuTitleIcon
{
    float: left;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin: 4px 0 0 4px;
    position: relative;
}
.BodyMenuContent
{
    // background: url(images/rightMenuImages/right_2_main.png);
    background-repeat: repeat;
    width: 100%;
    // height: 435px;
}
.BodyMenuContentLi
{
    width: 100%;
    height: 48px;
    text-indent: 10px;
    line-height: 48px;
    border-bottom: 1px solid #d2dce6;
    // background: url(images/rightMenuImages/right_2_li.png);
    background-repeat: repeat;
    position: relative;
    color: #505050;
}
.BodyMenuContentLiIcon
{
    float: left;
    border-radius: 50%;
    background: #cad6e2 url(images/rightMenuImages/right_2_li_pc.png) 0 0 no-repeat;
    width: 21px;
    height: 21px;
    margin: 15px 0 0 14px;
    position: relative;
}
.BodyMenuContentLiFont
{
    background:  url(images/rightMenuImages/right_2_li_pc.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#divMenuSystem_1 .BodyMenuContent .BodyMenuContentLiHover .BodyMenuContentLiIcon
{
    background-image: url(images/rightMenuImages/right_3_li_pc.png);
}
#divMenuSystem_1
{
    width: 220px;
    margin-left: 580px;

}
#divMenuSystem_1 .BodyMenuContent
{
    position:absolute;
    top:70px;
    width: 202px;
    background-color: #51b7ff;

}
#divMenuSystem_1 .BodyMenuContent>ul
{
    width: 200px;
    margin: 1px;
    background-color: #fff;

}
#divMenuSystem_1 .BodyMenuContent .BodyMenuContentTriangle
{
    width: 0;
    height: 0;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
    border: 10px solid transparent;
    border-bottom: 10px solid #51b7ff;

}
#divMenuSystem_1 .BodyMenuContent  .BodyMenuContentLiDesignationDtrip
{
    width: 6px;
    height: 48px; 
    float: left;
}
#divMenuSystem_1 .BodyMenuContent .BodyMenuContentLiHover .BodyMenuContentLiDesignationDtrip
{
    background-color: #2491f6;
}
#divMenuSystem_1 .BodyMenuContent div>span{
    float: left;
    color: #32485d;
    font-size: 16px;            
}
#divMenuSystem_1 .BodyMenuContent .BodyMenuContentLiHover>span
{
    color: #2491f6;
}
.BodyMenuContentLiDiv
{
    width: 100%;
    height: 34px;
    line-height: 34px;
    padding: 0px;
    position: relative;
    cursor: pointer;
    font-weight: 500;
}
.BodyMenuContentLiHover
{

    cursor: pointer;
}
.BodyContentHeight
{
    height: 70px;
    width: 100%;
}
.BodyContentBlock
{
    float: left;
    width: 100%;
    cursor: pointer;
}
.BodyContentImageLeft
{
    padding-left: 18px;
    padding-top: 8px;
    width: 72px;
    height: 72px;
}
.BodyContentImageRight
{
    padding-left: 10px;
    padding-top: 18px;
}
.BodyContentImageFontLeft
{
    font-size: 16px;
    color: #b9eeff;
    line-height: 74px;
    height: 70px;
    padding-left: 0px;
    text-align: center;
    
}
.BodyContentImageFontRight
{
    font-size: 12px;
    color: White;
    line-height: 25px;
    height: 25px;
    padding-left: 18px;
}
.divConditionExtension select 
{  
   width: 200px;
   /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/  
   border: solid 1px #8a9cac;  

   /*很关键：将默认的select选择框样式清除*/  
   appearance:none;  
   -moz-appearance:none;  
   -webkit-appearance:none;  
   color: #32485d;
   /*在选择框的最右侧中间显示小箭头图片*/  
   background: url("images/button_down.jpg") no-repeat scroll right center transparent; 
   /*为下拉小箭头留出一点位置，避免被文字覆盖*/  
   padding-right: 14px;  
}  
  



/*统计列表*/
body Div.divCantonStatistics
{
    position: absolute;
    left: 0px;
    z-index: 998;
    background-color: #ffffff;
}
body Div.divCantonStatistics table
{
    border-collapse: collapse;
    // border-bottom:2px solid #5797D5;
}
body Div.divCantonStatistics table tr td div.divCantonStatisticsContainer
{
    overflow: hidden;
}
body Div.divCantonStatistics table tr td div.divCantonStatisticsContainer Div.divCantonStatisticsList ul li .checkedA
{
    background-color: #159bf6;
    color:#fff;
}
body Div.divCantonStatistics table tr td div.divCantonStatisticsContainer Div.divCantonStatisticsList ul li .checkedA span
{
    
    color:#fff;
}
body Div.divCantonStatistics table tr td div.divCantonStatisticsContainer div.divCantonStatisticsTitle
{
    color: #e7e7e7;
    height: 40px;
    line-height: 40px;
    background: #eff3f8 url(images/bgGray.png) repeat-x;
}
body Div.divCantonStatistics table tr td div.divCantonStatisticsContainer div.divCantonStatisticsTitle table tr td
{
    padding-left: 4px;
}
body Div.divCantonStatistics table tr .firstLeft 
{
    position: relative;
}
body Div.divCantonStatistics table tr .firstLeft .tdCantonStatisticsHide
{
    width: 0px; 
    border: 24px solid transparent;
    border-right: 24px solid #fff;
    height: 0px; 
    position:absolute;
    right:-1px;
    top:50%;
    margin-top:-24px;
    cursor: pointer;
}

body Div.divCantonStatistics table tr td div.divCantonStatisticsContainer div.divCantonStatisticsTitle table tr td Div.divConcernCantonList ul.ulConcernCantonList
{
    width: 0px;
    height: 40px;
    white-space: nowrap;
    list-style: none;
    overflow: hidden;
}
body Div.divCantonStatistics table tr td div.divCantonStatisticsContainer div.divCantonStatisticsTitle table tr td Div.divConcernCantonList ul.ulConcernCantonList li
{
    float: left;
    margin-left: 8px;
    cursor: pointer;
    color: Blue;
}
body Div.divCantonStatistics table tr td div.divCantonStatisticsContainer Div.divCantonStatisticsList
{
    background: url(images/divCantonStatisticsListBackground.png) repeat scroll center center transparent;
}
body Div.divCantonStatistics table tr td div.divCantonStatisticsContainer Div.divCantonStatisticsList ul
{
    overflow: hidden;
    white-space: nowrap;
    list-style: none;
    clear: both;
    text-align: left;
    vertical-align: middle;
    color: #ffffff;
    margin-left: 10px
}
body Div.divCantonStatistics table tr td div.divCantonStatisticsContainer Div.divCantonStatisticsList ul li
{
    float: left;
    height: 30px;
    margin: 10px 0 0 10px;
    text-align: center;
    display: block;
}
body Div.divCantonStatistics table tr td div.divCantonStatisticsContainer Div.divCantonStatisticsList ul li.Icon1
{
    background: transparent;height:40px;width:130px;
}
body Div.divCantonStatistics table tr td div.divCantonStatisticsContainer Div.divCantonStatisticsList ul li a
{
    display: block; 
    clear: both;
    float: left;
    padding-left: 4px;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid #cad6e2;
}
body Div.divCantonStatistics table tr td div.divCantonStatisticsContainer Div.divCantonStatisticsList ul li a.active
{
    background: url(images/divCantonStatisticsListBackground.png) repeat-x scroll 0px 0px transparent;
}

body Div.divCantonStatistics table tr td div.divCantonStatisticsContainer Div.divCantonStatisticsList ul li a span
{
    display: block;
    float: left;
    height: 100%;
    padding-right: 8px;
    color:Black;
}
body Div.divCantonStatistics table tr td div.divCantonStatisticsContainer Div.divCantonStatisticsList ul li a span span
{
    display: block;
    float: left;
    height: 100%;
    padding-right: 0px;
    font-size: 12px;
    font-weight: 400;
    font-family: '微软雅黑';
}
body Div.divCantonStatistics table tr td div.divCantonStatisticsContainer Div.divCantonStatisticsList ul li a span span span.Icon
{
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin: 4px 4px auto 2px;
    border: 0px solid #c8c8c8;
    text-align: center;
    vertical-align: middle;
    line-height: 14px;
    font-size: 10pt;
    font-weight: bold;
}
body Div.divCantonStatistics table tr td div.divCantonStatisticsContainer Div.divCantonStatisticsList ul li a.Checked span span span.Icon
{
    background: url(images/Standard__jQE_UI_ButtonCheckboxChecked.png) no-repeat scroll 0px 0px #5599cc;
    border: 1px solid #5599cc;
}
body Div.divCantonStatistics table tr td.tdCantonStatisticsToggle
{
    width: 24px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccd7e3;
}
body Div.divCantonStatistics table tr td.tdCantonStatisticsToggle div.divCantonStatisticsToggle
{
    width: 24px;
    height: 40px;
    background: url(images/tdCantonStatisticsToggleBackground2.png) no-repeat scroll center center transparent;
}
body Div.divCantonStatistics table tr td.tdCantonStatisticsToggle.ToLeft div.divCantonStatisticsToggle
{
    background: url(images/tdCantonStatisticsToggleBackground1.png) no-repeat scroll -3px center transparent;
    height:160px;
}

/*搜索*/
body Div.divSearchAndConcern
{
    position: absolute;
    z-index: 998;
}
body Div.divSearchAndConcern Div.divSearchAndConcernTitle
{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
}
body Div.divSearchAndConcern Div.divSearchAndConcernTitle Div.divSearchAndConcernContainer
{
    text-indent: 36px;
    line-height: 36px;
    height: 40px;
    font-size: 16px;
    font-family: 微软雅黑;
    color: White;
    background: url(images/divSearchAndConcernContainerBackground.png) repeat-x scroll 0px 0px transparent;
}
body Div.divSearchAndConcern Div.divSearchAndConcernTitle Div.divSearchAndConcernContainer Div.divSearchButton
{
    float: left;
    width: 49.5%;
    text-align: left;
    border-right: 0px solid white;
    background2: url(images/divSearchBackground.png) no-repeat scroll 8px center transparent;
}
body Div.divSearchAndConcern Div.divSearchAndConcernTitle Div.divSearchAndConcernContainer Div.divConcernButton
{
    float: right;
    width: 49.5%;
    text-align: left;
    border-left: 1px solid white;
    background: url(images/divConcernBackground.png) no-repeat scroll 8px center transparent;
    display:none;
}
body Div.divSearchAndConcern Div.divSearchAndConcernTitle Div.divSearchAndConcernImage
{
    float: right;
    width: 38px;
    height: 38px;
}
body Div.divSearchAndConcern Div.divSearchAndConcernTitle Div.divSearchAndConcernImage img
{
    width: 38px;
    height: 38px;
    margin: 0px auto;
}
body Div.divSearchAndConcern Div.divKeyword
{
    position: relative;
    top: -4px;
    height: 38px;
    overflow: hidden;
    display: none;
}
body Div.divSearchAndConcern Div.divKeyword input.inputKeyword
{
    width: 100%;
    height: 38px;
    line-height: 38px;
    border-width1: 0px;
    border-bottom:1px solid #5797D5;
    background1: url(images/liModuleMenu.png) repeat-x scroll 0px 0px transparent;
}
body Div.divSearchAndConcern Div.divSearchAndConcernContent
{
    top: -4px;
    border-bottom: 2px solid #5797D5;
    background: url(images/divModuleMenuListBackground.png) repeat scroll 0px 0px transparent;
    z-index: 1;
}
body Div.divSearchAndConcern Div.divSearchAndConcernContent ul
{
    color: #e7e7e7;
    margin: 0px 0px;
    padding: 0px 0px;
    width: 100%;
    list-style: none;
}
body Div.divSearchAndConcern Div.divSearchAndConcernContent ul li
{
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    cursor: pointer;
    background1: url(images/liModuleMenu.png) repeat-x scroll 0px 0px transparent;
    color:Black;
}
body Div.divSearchAndConcern Div.divSearchAndConcernContent ul li:nth-child(odd)
{
    background-color: #d9e7f3;
}
body Div.divSearchAndConcern Div.divSearchAndConcernContent ul li:hover, body Div.divSearchAndConcern Div.divSearchAndConcernContent ul li.Selected
{
    background1: url(images/liModuleMenu_Hover.png) repeat-x scroll 0px 0px transparent;
    background-color:#E6E6E6;
}
body Div.divSearchAndConcern Div.divSearchAndConcernContent ul li div
{
    text-indent: 0px;
}
body Div.divSearchAndConcern Div.divSearchAndConcernContent ul li img
{
    float: left;
    margin: 7px 3px;
    width: 24px;
    height: 22px;
}
body .SilderControlTable tbody tr>td
{
    height:160px;
}
body .divCantonStatisticsContainer
{
    // height:160px;
}
.firstLeft{
    // height: 160px;  
}
